.button-blue {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 4.8rem;
  background-color: #0F62FE;
  font-weight: 500;
  font-size: 1.6rem;
  color: #fff;
}