.card-scroll {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  height: 183px;

  .card.secondary {
    background: #F2F4F8;
    width: 450px;
    height: 137px;
    cursor: pointer;
    font-size: 1.8rem;

    img {
      width: 36px;
      height: 36px;
    }
  }

  .card.primary {
    position: absolute;
    background: #FFFFFF;
    width: 600px;
    height: 183px;
    transform: translate(50%, 0%);
  }

  &--btn {
    position: absolute;
    cursor: pointer;

    &:first-child {
      left: 12px;
      transform: rotate(180deg);
    }

    &:last-child {
      right: 12px;
    }
  }
}