@import '../../variables.scss';

.support {
  display: flex;
  flex-direction: column;
  gap: $n-24;
  font-size: 1.6rem;
  
  &--input-block {
    background: #f2f4f8;
    padding: $n-24;
    
    & label {
      display: flex;
      flex-direction: column;

      & p {
        font-size: 1.4rem;

        & span {
          font-weight: 700;
        }
      }

      & input {
        margin-top: 8px;
        border: none;
        padding: 12px 16px;
        color: #697077;
      }
    }
  }

  &--btn {
    display: flex;
    justify-content: flex-end;
    padding-top: $n-24;
    
    & button {
      width: 150px;
    }
  }

  &-block {
    color: #697077;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &--star {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
      cursor: pointer;
    }
  }

  &--email {
    color: #001D6C;
  }
}