@import '../../variables.scss';

.notifications {
  display: flex;
  flex-direction: column;
  gap: $n-24;

  &--btn {
    display: flex;
    justify-content: flex-end;
    padding-top: $n-24;
    
    & button {
      width: 150px;
    }
  }
}