@import '../../variables.scss';

.card-person {
  display: flex;
  flex-direction: column;
  gap: $n-24;
  padding: $n-24;
  background: #f2f4f8;
  font-size: 1.6rem;
  color: #697077;
  position: relative;

  &__top {
    display: flex;
    flex-direction: row;
    gap: $n-24;

    & img {
      width: 160px;
      height: 160px;
      object-fit: cover;
    }

    &--info {
      width: 100%;
    }

    &--title {
      display: flex;
      justify-content: space-between;
      padding-bottom: $n-24;
      align-items: center;

      & p {
        font-weight: 500;
        line-height: 1.25;
        letter-spacing: 0.03em;
        & span {
          color: #001D6C;
        }
      }
    }

    & ul {
      list-style-type: none;
      padding-left: 0;
      & li+li {
        padding-top: 8px;
      }
    }

    &--btn-heart {
      padding: 0;
      width: 24px;
      height: 24px;
      border: none;

      & img {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    &--title {
      font-weight: 500;
      line-height: 1;
      letter-spacing: 0.03em;
    }
    
    &--btn {
      cursor: pointer;
      background: transparent;
      border: none;
      padding: 0;
      width: 24px;
      height: 24px;
      transform: rotate(270deg);
      // transform: rotate(180deg);

      &.open {
        transform: rotate(90deg);
      }
    }
  }

  &--btn {
    display: flex;
    justify-content: flex-end;

    &>button {
      width: auto;
    }
  }

  &__info {
    display: none;
    flex-direction: column;
    gap: $n-24;
    
    &.open {
      display: flex;
    }
  }
}